{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<header class="intro-header" style="background-image: url('{% static "img/about-bg.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                  <h1>About Us</h1>
                  <hr class="small">
                  <span class="subheading">This is what we do.</span>
              </div>
           </div>
       </div>
  </div>
</header>


    <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p>Our goal is to provide the easiest and fastest way for anyone to write their first blog. We believe that ideas need to be shared and this platform encourages everyone who wants to share theirs. To keep things simple we provide a simple and secure Google sign in experience so there’s no need to type in your details or remember yet another password! Just <a href = "/">Sign in </a> and start blogging!</p>
          </div>
      </div>
  </div>

{% endblock %}
