{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<header class="intro-header" style="background-image: url('{% static "img/about-bg.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                  <h1>About Bloggr</h1>
                  <hr class="small">
                  <span class="subheading">Bloggr is a minimalist blogging platform.</span>
                  <br>
                  <span>You can find the project code and acknowledgements at the Github icon below. Contributions are welcomed!</span>
              </div>
           </div>
       </div>
  </div>
</header>

{% endblock %}
