{% extends 'blog/base.html' %}
{% load staticfiles %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

{% block content %}

  <!-- Header  -->
  <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">

  <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="575631797778-8a2dg5s8aj5a5vqbd4vab87lvf3kfd61.apps.googleusercontent.com"> -->
  
  <header class="intro-header" style="background-image: url('{% static "img/home-bg.jpg" %}')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>Bloggr</h1>
                      <hr class="small">
                      {% if user.is_authenticated %}
                        <span class="subheading" style = "padding : 10px" >Time to write your next post, {{user.first_name}}!</span>
                        
                        <a class= "mui-btn mui-btn--raised mui-btn"  href = '/post/new'>New Post!</a>
                      {% else %}
                        <span class="subheading" style = "padding : 10px" >Write your First Blog here!</span>
                        
                        <!-- <div class="g-signin2 btn-pull center btn pull-center " onclick = location.href='{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}' data-onsuccess="onSignIn"></div> -->

                        <a class="mui-btn mui-btn--raised"  href = '{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}'>
                            Sign in with Google
                        </a>

                        <a class= "mui-btn mui-btn--raised mui-btn--primary"  href="/signup">Sign up</a>

                      {% endif %}
                      </div>
                  </div>
               </div>
            </div>
        </div>
  </header>

  <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% for post in posts %}
                <div class="post-preview">
                      <h2 class="post-title">
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                      </h2>
                      <h3 class="post-subtitle">
                        {{post.subtitle}}
                      </h3>
                      <p class="post-meta">Posted by <a href="/user/{{post.author.username}}">{{post.author}}</a>{% if post.published_date %} published: {{ post.published_date }}  {% endif %}</p>
                </div>
                <hr>
              {% endfor %}
            </div>
        </div>
      </div>


{% endblock %}
