{% extends 'blog/base.html' %}
{% load staticfiles %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

{% block content %}

  <!-- Header  -->
  <header class="intro-header" style="background-image: url('{% static "img/home-bg.jpg" %}')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>Bloggr</h1>
                      <hr class="small">
                      <span class="subheading">Write your first blog here{% if user.is_authenticated %}, {{user.first_name}} {% endif %}!</span>
                      <!-- <div class="g-signin2 btn pull-center" data-onsuccess="onSignIn">Button</div> -->
                      <div class="g-signin2 btn pull-center" onclick = location.href='{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}';>
                        <!-- <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a> -->
                      </div>
                  </div>
               </div>
            </div>
        </div>
  </header>

  <!-- Main Content -->
  {% for post in posts %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                      <h2 class="post-title">
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                      </h2>
                      <h3 class="post-subtitle">
                        {{post.subtitle}}
                      </h3>
                      <p class="post-meta">Posted by <a href="#">{{user}}</a>{% if post.published_date %} published: {{ post.published_date }}  {% endif %}</p>
                </div>
            </div>
            <hr>
        </div>
      </div>
      {% endfor %}

{% endblock %}
