{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Header  -->
<header class="intro-header" style="background-image: url('{% static "img/post-bg.jpg" %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Checkout posts by {{username}}!</h1>
                    <hr class="small">
                    <!-- <span class="subheading">Write blog button</span> -->
                </div>
             </div>
          </div>
      </div>
</header>


<!-- Main Content -->


    <div class="container">
      {% for post in posts %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                      <h2 class="post-title">
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                      </h2>
                      <h3 class="post-subtitle">
                        {{post.subtitle}}
                      </h3>
                      <p class="post-meta">Posted by <a href="/user/{{post.author.username}}">{{post.author}}</a>{% if post.published_date %} published: {{ post.published_date }}  {% endif %} <a href="{% url 'post_detail' pk=post.pk %}">  Comments: {{ post.comments.count  }}</a></p>
                </div>
            </div>

        </div>
      {% endfor %}
      <hr>
      </div>

{% endblock %}
